{{ $filePath := print "/content/" .Page.File.Dir }}
{{ $imagePath := (.Destination | safeURL) }}
{{ $mainPath := add (.Destination | safeURL) ".jpeg" }}
{{ $img := imageConfig (add $filePath $mainPath) }}


<figure>
    {{ if .Title }}
        <figure>
            <picture
                class="lozad"
                data-iesrc="{{ $imagePath }}.jpeg"
                data-alt="{{ .Text }}"
                width="{{ $img.Width }}"
                height="{{ $img.Height }}"
            >
                <source srcset="{{ $imagePath }}.avif" type="image/avif" />
                <source srcset="{{ $imagePath }}.webp" type="image/webp" />
                <source srcset="{{ $imagePath }}.jpeg" />
            </picture>
            <figcaption>{{ .Title }}</figcaption>
        </figure>
    {{ else }}
        <picture
            class="lozad"
            data-iesrc="{{ $imagePath }}.jpeg"
            data-alt="{{ .Text }}"
            width="{{ $img.Width }}"
            height="{{ $img.Height }}"
        >
            <source srcset="{{ $imagePath }}.avif" type="image/avif" />
            <source srcset="{{ $imagePath }}.webp" type="image/webp" />
            <source srcset="{{ $imagePath }}.jpeg" />
        </picture>
    {{ end }}
</figure>
