html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    min-height: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -ms-overflow-style: none;
    scrollbar-width: none;
    background-color: var(--background-color);
    justify-content: space-between;
}

ul {
    padding-left: 40px;
    list-style-type: none;
}

code {
    font-family: FiraCode, monospace;
    color: var(--primary-color);
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4 {
    font-family: Inter, sans-serif;
    font-weight: 700;
    color: var(--primary-color);
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 22px;
}

h4 {
    font-size: 18px;
}

::selection {
    color: var(--opposite-color);
    background: var(--link-color);
}

a::selection {
    color: var(--primary-color);
}
