::-webkit-scrollbar {
    background: transparent;
    overflow: visible;
    width: 17px;
}

::-webkit-scrollbar-thumb {
    border: solid #fff;
    background-color: #adadad;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(0 0 0 80%);
    background-color: #999;
}

::-webkit-scrollbar-thumb:horizontal {
    border-width: 4px 6px;
    min-width: 40px;
}

::-webkit-scrollbar-thumb:vertical {
    border-width: 6px 4px;
    min-height: 40px;
}

::-webkit-scrollbar-track-piece {
    background-color: #fff;
}

::-webkit-scrollbar-corner {
    background: transparent;
}
