<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="icon" href="/images/logo-light.svg" id="tab-icon" />
    <link
        rel="apple-touch-icon"
        href="/images/logo-light.svg"
        id="tab-apple-icon"
    />

    {{ partial "socialMetadata.html" . }}

    {{ template "_internal/google_analytics.html" . }}


    <meta name="theme-color" content="#f2f2f2" />
    <link rel="manifest" href="/manifest.json" />

    <script>
        if ("serviceWorker" in navigator) {
            navigator.serviceWorker.register("/service-worker.js", {
                scope: "/",
            });
        }
    </script>

    <link rel="stylesheet" type="text/css" href="/css/index.bundle.css" />
    <link
        rel="stylesheet"
        type="text/css"
        href="/css/syntax-light.css"
        id="chroma-theme"
    />

    <!-- Load google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Lora&display=swap"
        rel="stylesheet"
    />
</head>
