<div>
    <div class="header">
        {{ $imagePath := "/images/cover" }}
        {{ if .IsPage }}
            {{ $imagePath = "cover" }}
        {{ end }}

        {{ $image := .Resources.GetMatch $imagePath }}


        <picture
            class="lozad header-img"
            id="header-img"
            data-iesrc="{{ $imagePath }}.jpeg"
            data-alt="Banner"
        >
            <source srcset="{{ $imagePath }}.avif" type="image/avif" />
            <source srcset="{{ $imagePath }}.webp" type="image/webp" />
            <source srcset="{{ $imagePath }}.jpeg" />
        </picture>
    </div>
</div>
